@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 300;
  src: local('Kreon Light'), local('Kreon-Light'), url(http://fonts.gstatic.com/s/kreon/v9/76aS1J5Mmu41iLp2Z15uBfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kreon/v9/foDwQzChAOJL0-zU6ynhJ_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon Regular'), local('Kreon-Regular'), url(http://fonts.gstatic.com/s/kreon/v9/gK2DcrR6Rzx5Ga9PpDfp3A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/kreon/v9/a5r0-iMPk2rygJI75EuckA.woff) format('woff');
}
