.top-navigation-wrapper{ background-color: #474747; } 
.top-navigation-wrapper-gimmick{ background-color: #282828; } 
.top-navigation-wrapper *{ border-color: #808080; } 
.top-navigation-wrapper a{ color: #d9d9d9; } 
.top-navigation-wrapper a:hover{ color: #d9d9d9; } 
.search-wrapper input[type="text"]{ color: #cccccc; } 
.search-wrapper input[type="text"]{ background-color: #2c2c2c; } 
div.header-top-marquee, div.header-top-marquee a{ color: #999999; } 
div.header-top-marquee .marquee-wrapper, div.header-top-marquee .marquee-icon { background-color: #f3f3f3; } 
.navigation-wrapper{ background-color: #38a9eb; } 
.sf-menu li a{ color: #ffffff; } 
.sf-menu li a:hover{ color: #b5d7eb; } 
.sf-menu li.current-menu-ancestor a, .sf-menu li.current-menu-item a{ color: #ffffff; } 
.sf-menu li li{ background-color: #222222; } 
.sf-menu ul, .sf-menu ul li{ border-color: #222222; } 
.sf-menu li li a, .sf-menu li.current-menu-item li a, .sf-menu li.current-menu-ancestor li a, .sf-menu li li.current-menu-item li a, .sf-menu li li.current-menu-ancestor li a{ color: #ffffff; } 
.sf-menu li li a:hover, .sf-menu li li.current-menu-item li a:hover, .sf-menu li li.current-menu-ancestor li a:hover{ color: #969696; } 
.sf-menu li li.current-menu-item a, .sf-menu li li.current-menu-ancestor a, .sf-menu li li.current-menu-ancestor li.current-menu-item a{ color: #969696; } 
h1, h2, h3, h4, h5, h6{ color: #494949; } 
h3.gdl-header-title{ color: #fa3e05; } 
h3.gdl-header-title{ background-color: #faf43c; } 
body{ color: #0a0303; } 
html{ background-color: #000000; } 
.container.main{ background-color: #fafafa; } 
a{ color: #0d86cc; } 
a:hover{ color: #ffffff; } 
::selection, ::-moz-selection{ color: #ffffff; } 
::selection, ::-moz-selection{ background-color: #f2594b; } 
.sidebar-wrapper .recent-post-widget-info, .sidebar-wrapper #twitter_update_list{ color: #969696; } 
.tagcloud a{ background-color: #f3f3f3; } 
h4.gdl-tab-widget-header-item a{ color: #959595; } 
h4.gdl-tab-widget-header-item a{ background-color: #ffffff; } 
h4.gdl-tab-widget-header-item a:hover, h4.gdl-tab-widget-header-item a.active{ color: #ffffff; } 
h4.gdl-tab-widget-header-item a:hover, h4.gdl-tab-widget-header-item a.active{ background-color: #0d53cc; } 
.footer-wrapper a{ color: #0d86cc; } 
.footer-wrapper a:hover{ color: #8281cc; } 
.footer-wrapper .custom-sidebar-title, .footer-wrapper .custom-sidebar-title a{ color: #4d4d4d; } 
.footer-wrapper, .footer-wrapper table th{ color: #616161; } 
.footer-wrapper .recent-post-widget-info, .footer-wrapper #twitter_update_list{ color: #b1b1b1; } 
div.footer-wrapper{ background-color: #f9f9f9; } 
div.footer-top-bar{ background-color: #0d86cc; } 
div.footer-wrapper .tagcloud a{ background-color: #ededed; } 
div.footer-wrapper *{ border-color: #e6e6e6; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ color: #888888; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ background-color: #ffffff; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ border-color: #ebebeb; } 
.footer-wrapper .contact-form-wrapper button{ color: #ffffff; } 
.footer-wrapper .contact-form-wrapper button{ background-color: #bbbbbb; } 
div.footer-wrapper .personnal-widget-item .personnal-widget-info{ color: #ffffff; } 
div.copyright-container{ background-color: #2c2c2c; } 
div.copyright-container{ color: #a1a1a1; } 
div.copyright-container a{ color: #ffffff; } 
div.top-post-slider .flexslider ul.slides .flex-caption .gdl-slider-title{ color: #ffffff; } 
div.top-post-slider .flexslider ul.slides .flex-caption .gdl-slider-caption{ color: #dedede; } 
div.top-post-slider .gdl-slider-info{ border-color: #414141; } 
div.top-post-slider .gdl-slider-info, div.top-post-slider .gdl-slider-info a{ color: #a6a6a6; } 
div.top-post-slider .flex-control-nav li a:hover, div.top-post-slider .flex-control-nav li a.flex-active{ background-color: #0d86cc; color: #0d86cc; } 
div.top-post-slider .flexslider ul.slides .flex-caption .gdl-slider-read-more{ color: #469fd2; } 
h2.gdl-slider-title{ color: #ffffff; } 
h2.gdl-slider-title{ background-color: #0d86cc; } 
div.gdl-slider-caption{ color: #666666; } 
div.gdl-slider-caption{ background: #ffffff; } 
.flex-carousel.carousel-included{ background-color: #000000; } 
h1.stunning-text-title{ color: #333333; } 
.stunning-text-caption{ color: #666666; } 
.stunning-text-wrapper{ background-color: #ffffff; } 
a.stunning-text-button{ color: #ffffff; } 
a.stunning-text-button:hover{ color: #dddddd; } 
a.stunning-text-button{ background-color: #4c96c1; } 
.portfolio-title, .portfolio-title a{ color: #252525; } 
.portfolio-title a:hover{ color: #969696; } 
div.portfolio-item .portfolio-tag a{ color: #838383; } 
div.portfolio-item .portfolio-media-wrapper{ border-color: #0d86cc; } 
div.single-portfolio .port-info{ color: #7a7a7a; } 
div.single-portfolio .port-info .head{ color: #404040; } 
h2.blog-title a, h1.blog-title a{ color: #3b3b3b; } 
h2.blog-title a:hover, h1.blog-title a:hover{ color: #3b3b3b; } 
.blog-media-wrapper{ border-color: #0d86cc; } 
.blog-continue-reading{ background-color: #f3f3f3; } 
.about-author-wrapper{ background-color: #f7f7f7; } 
div.gdl-pagination a{ background-color: #f7f7f7; } 
div.gdl-pagination a{ color: #7b7b7b; } 
div.gdl-pagination a:hover{ background-color: #0d86cc; } 
div.gdl-pagination a:hover{ color: #ffffff; } 
div.gdl-pagination span{ background-color: #f2594b; } 
div.gdl-pagination span{ color: #ffffff; } 
div.price-item, div.price-item .price-title, div.price-item .price-button{ background-color: #404040; } 
div.price-item .price-title, div.price-item .price-button{ color: #ffffff; } 
div.price-item .price-title{ border-color: #000000; } 
div.price-item .price-tag{ color: #353535; } 
div.price-item{ color: #868686; } 
div.price-item .price-tag, div.price-item{ border-color: #ebebeb; } 
div.price-item{ background-color: #f7f7f7; } 
div.personnal-item{ background-color: #f7f7f7; } 
div.personnal-item .personnal-position{ color: #ffffff; } 
div.personnal-item .personnal-position{ background-color: #404040; } 
div.personnal-item .personnal-title{ color: #404040; } 
div.personnal-item .personnal-item{ color: #373737; } 
div.personnal-widget-item .personnal-widget-info{ color: #4a4a4a; } 
ul.gdl-accordion li .accordion-content, ul.gdl-toggle-box li .toggle-box-content{ color: #a4a4a4; } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ color: #595959; } 
ul.gdl-accordion li, ul.gdl-toggle-box li{ background-color: #f7f7f7; } 
blockquote{ color: #ababab; } 
body blockquote{ border-color: #cfcfcf; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ background-color: #e8e8e8; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ color: #7a7a7a; } 
div.style-1 h2.column-service-title{ color: #3b3b3b; } 
div.style-1 div.column-service-caption{ color: #f2594b; } 
div.style-2 h2.column-service-title{ color: #3b3b3b; } 
div.style-2 div.column-service-caption{ color: #868686; } 
body *{ border-color: #eeeeee; } 
.scroll-top{ color: #919191; } 
a.social-counter-widget span.count{ color: #0d86cc; } 
a.social-counter-widget span.title{ color: #5c5c5c; } 
table, table tr, table tr td, table tr th{ border-color: #e5e5e5; } 
table th{ color: #666666; } 
table th{ background-color: #fdfdfd; } 
div.gdl-tab ul.gdl-tab-content, div.gdl-tab ul.gdl-tab-title a.active{ background-color: #f8f8f8; } 
div.gdl-tab ul.gdl-tab-content{ color: #969696; } 
div.gdl-tab ul.gdl-tab-title a{ color: #a2a2a2; } 
div.gdl-tab ul.gdl-tab-title a{ background-color: #ffffff; } 
div.gdl-tab ul.gdl-tab-title a.active{ color: #656565; } 
div.gdl-carousel-testimonial .testimonial-content{ color: #b5b5b5; } 
div.gdl-carousel-testimonial .testimonial-info{ color: #757575; } 
div.gdl-carousel-testimonial{ background-color: #f7f7f7; } 
div.gdl-static-testimonial .testimonial-item{ border-color: #e3e3e3; } 
div.gdl-static-testimonial .testimonial-item{ color: #a6a6a6; } 
div.gdl-static-testimonial .testimonial-info{ color: #a8a8a8; } 
html{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/pattern/pattern-15.png); } 
.logo-wrapper{ padding-top: 47px; padding-bottom: 20px; } 
div.navigation-wrapper{ font-size: 12px; } 
h1.gdl-header-title{ font-size: 20px; } 
h3.gdl-header-title{ font-size: 14px; } 
body, ul.gdl-toggle-box li .toggle-box-title, ul.gdl-accordion li .accordion-title{ font-size: 13px; } 
h3.custom-sidebar-title, .custom-sidebar h3.gdl-header-title{ font-size: 14px; } 
h1{ font-size: 30px; } 
h2{ font-size: 25px; } 
h3{ font-size: 20px; } 
h4{ font-size: 18px; } 
h5{ font-size: 16px; } 
h6{ font-size: 15px; } 
body{ font-family: "Droid Sans"; } 
h1, h2, h3, h4, h5, h6{ font-family: "Open Sans"; } 
div.navigation-wrapper{ font-family: "Open Sans"; } 
.gdl-slider-title{ font-family: "Open Sans"; } 
h1.stunning-text-title{ font-family: "Museo Sans"; } 
div.search-wrapper input[type="submit"]{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/top-search-button.png); } 
div.header-top-marquee .marquee-icon{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/top-sliding-icon.png); } 
div.header-top-marquee .marquee-wrapper .marquee div{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/top-sliding-bullet.png); } 
div.top-post-slider .blog-tag{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/tag.png); } 
div.top-post-slider .blog-comment, div.recent-post-widget .recent-post-widget-comment, .recent-comment-widget-date{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/comment.png); } 
div.top-post-slider .blog-author{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/author.png); } 
div.top-post-slider .blog-date-wrapper, div.recent-post-widget .recent-post-widget-date{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/date.png); } 
ul.gdl-accordion li.active .accordion-title, ul.gdl-toggle-box li.active .toggle-box-title{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/accordion-title-active.png); } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/accordion-title.png); } 
div.gdl-carousel-testimonial .testimonial-content{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/testimonial-quote.png); } 
div.testimonial-prev{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/testimonial-left.png); } 
div.testimonial-next{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/testimonial-right.png); } 
.blog-tag{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/tag.png); } 
.blog-comment, div.recent-post-widget .recent-post-widget-comment, .recent-comment-widget-date{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/comment.png); } 
.blog-author{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/author.png); } 
.blog-date-wrapper, div.recent-post-widget .recent-post-widget-date{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/date.png); } 
.port-nav a{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/port-nav.png) no-repeat; } 
.port-nav-wrapper .port-nav{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/port-nav.png) no-repeat; } 
div.personnal-widget-prev{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/personnal-widget-left.png); } 
div.personnal-widget-next{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/personnal-widget-right.png); } 
div.gdl-search-button, div.custom-sidebar #searchsubmit{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/search-button.png) no-repeat center; } 
div.custom-sidebar ul li{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/li-arrow.png) no-repeat 0px 14px; } 
div.gdl-header-gimmick.right, div.social-counter-widget-wrapper{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/title-gimmick.png); } 
div.stunning-text-wrapper{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/stunning-text-background.png); } 
div.blog-bullet-wrapper .blog-bullet-title a{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/blog-bullet.png); } 
div.footer-wrapper div.custom-sidebar ul li{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/li-arrow.png) no-repeat 0px 14px; } 
div.footer-wrapper div.custom-sidebar #searchsubmit{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/search-button.png) no-repeat center; } 
div.footer-wrapper div.personnal-widget-prev{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/personnal-widget-left.png); } 
div.footer-wrapper div.personnal-widget-next{ background-image: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/dark/personnal-widget-right.png); } 
.flex-carousel .flex-direction-nav li a.flex-prev{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/carousel-nav-left.png) no-repeat; } 
.flex-carousel .flex-direction-nav li a.flex-next{ background: url(http://www.jadamix.fm/wp-content/themes/New-Zine/images/icon/light/carousel-nav-right.png) no-repeat; } 
div.contact-form-wrapper input[type="text"], div.contact-form-wrapper input[type="password"], div.contact-form-wrapper textarea, div.sidebar-wrapper #search-text input[type="text"], div.sidebar-wrapper .contact-widget input, div.custom-sidebar .contact-widget textarea, div.comment-wrapper input[type="text"], div.comment-wrapper input[type="password"], div.comment-wrapper textarea{ color: #888888; background-color: #ffffff; border-color: #d9d9d9; -webkit-box-shadow: #ececec 0px 1px 4px inset, #f0f0f0 -5px -5px 0px 0px, #f0f0f0 5px 5px 0px 0px, #f0f0f0 5px 0px 0px 0px, #f0f0f0 0px 5px 0px 0px, #f0f0f0 5px -5px 0px 0px, #f0f0f0 -5px 5px 0px 0px ; box-shadow: #ececec 0px 1px 4px inset, #f0f0f0 -5px -5px 0px 0px, #f0f0f0 5px 5px 0px 0px, #f0f0f0 5px 0px 0px 0px, #f0f0f0 0px 5px 0px 0px, #f0f0f0 5px -5px 0px 0px, #f0f0f0 -5px 5px 0px 0px ; } 

div.logo-wrapper { float: left; }
div.logo-right-text { float: right; text-align: right; }
div.logo-right-text { margin-top: 55px; }
.stunning-text-title{ visibility: hidden; }
