.col-full,
#wrapper { max-width: 1000px !important; }

.no-break br { display: none !important; }

#logo .site-title,
#logo .site-description { display: none }
body { background-color: #eeeeee; background-repeat: no-repeat; background-position: top left; background-attachment: scroll; border-top: 0px solid #000000 }
a:link,
a:visited,
#loopedSlider a.flex-prev:hover,
#loopedSlider a.flex-next:hover { color: #fa4b2a }
.quantity .plus,
.quantity .minus { background-color: #fa4b2a }
a:hover,
.post-more a:hover,
.post-meta a:hover,
.post p.tags a:hover { color: #fa4b2a }
body #wrapper #content .button,
body #wrapper #content .button:visited,
body #wrapper #content .reply a,
body #wrapper #content #respond .form-submit input#submit,
input[type=submit],
body #wrapper #content button,
#navigation ul.cart .button { border: none; background: #fa4b2a }
body #wrapper #content .button:hover,
body #wrapper #content .reply a:hover,
body #wrapper #content #respond .form-submit input#submit:hover,
input[type=submit]:hover,
body #wrapper #content button:hover,
#navigation ul.cart .button:hover { border: none; background: #fa4b2a }
#header { background-color: #f9f9f9; background-repeat: no-repeat; background-position: left top; margin-top: 0px; margin-bottom: 0px; padding-top: 12px; padding-bottom: 12px; border: 0px solid }
#logo { padding-left: 0px }
.header-widget { padding-right: 0px }
#logo .site-title a { font: bold 40px/1em Arial, sans-serif; color: #222222 }
#logo .site-description { font: 300 13px/1em Arial, sans-serif; color: #999999 }
#inner-wrapper { padding-left: 30px; padding-right: 30px; background-color: #ffffff; border-radius: 0px }
.col-full { width: auto }

@media only screen and (max-width:767px) {
#inner-wrapper { margin: 0; border-radius: none; padding-left: 1em; padding-right: 1em; border: none }
}
body,
p { font: 300 14px/1.5em Helvetica, Arial, sans-serif; color: #444444 }
h1 { font: bold 28px/1.2em alternategothic2_btregular, Oswald, Impact, sans-serif; color: #222222 }
h2 { font: bold 24px/1.2em Oswald, Impact, sans-serif; color: #222222 }
h3 { font: bold 20px/1.2em alternategothic2_btregular, Oswald, Impact, sans-serif; color: #222222 }
h4 { font: normal 16px/1.2em alternategothic2_btregular, Oswald, Impact, sans-serif; color: #222222 }
h5 { font: normal 14px/1.2em alternategothic2_btregular, Oswald, Impact, sans-serif; color: #222222 }
h6 { font: normal 12px/1.2em alternategothic2_btregular, Oswald, Impact, sans-serif; color: #222222 }
.page-title,
.post .title,
.page .title { font: bold 41px/1.1em Oswald, Impact, sans-serif; color: #444444 }
.post .title a:link,
.post .title a:visited,
.page .title a:link,
.page .title a:visited { color: #444444 }
.post-meta { font: 300 11px/1.5em Helvetica, Arial, sans-serif; color: #777777 }
.entry,
.entry p { font: 300 14px/1.5em Helvetica, Arial, sans-serif; color: #444444 }
.post-more { font: 300 13px/1.5em Helvetica, Arial, sans-serif; color:;
border-top: 0px solid #e6e6e6; border-bottom: 0px solid #e6e6e6 }
#post-author,
#connect { border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #fafafa }
.nav-entries a,
.woo-pagination { font: 300 13px/1em Helvetica, Arial, sans-serif; color: #888 }
.woo-pagination a,
.woo-pagination a:hover { color: #888 !important }
.widget h3 { font: normal 18px/1.2em alternategothic2_btregular, Oswald, Impact, sans-serif; color: #ffffff; border-bottom: 0px solid #e6e6e6; margin-bottom: 0 }
.widget_recent_comments li,
#twitter li { border-color: #e6e6e6 }
.widget p,
.widget .textwidget { font: 300 13px/1.5em Helvetica, Arial, sans-serif; color: #555555 }
.widget { font: 300 13px/1.5em Helvetica, Arial, sans-serif; color: #555555; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px }
#tabs .inside li a,
.widget_woodojo_tabs .tabbable .tab-pane li a { font: bold 12px/1.5em Arial, sans-serif; color: #555555 }
#tabs .inside li span.meta,
.widget_woodojo_tabs .tabbable .tab-pane li span.meta { font: 300 11px/1.5em Arial, sans-serif; color: #999999 }
#tabs ul.wooTabs li a,
.widget_woodojo_tabs .tabbable .nav-tabs li a { font: 300 11px/2em Arial, sans-serif; color: #999999 }

@media only screen and (min-width:768px) {
ul.nav li a,
#navigation ul.rss a,
#navigation ul.cart a.cart-contents,
#navigation .cart-contents #navigation ul.rss,
#navigation ul.nav-search,
#navigation ul.nav-search a { font: normal 12px/1.2em Oswald, Impact, sans-serif; color: #ffffff }
#navigation ul.rss li a:before,
#navigation ul.nav-search a.search-contents:before { color: #ffffff }
#navigation ul.nav > li a:hover,
#navigation ul.nav > li:hover a,
#navigation ul.nav li ul li a,
#navigation ul.cart > li:hover > a,
#navigation ul.cart > li > ul > div,
#navigation ul.cart > li > ul > div p,
#navigation ul.cart > li > ul span,
#navigation ul.cart .cart_list a,
#navigation ul.nav li.current_page_item a,
#navigation ul.nav li.current_page_parent a,
#navigation ul.nav li.current-menu-ancestor a,
#navigation ul.nav li.current-cat a,
#navigation ul.nav li.current-menu-item a { color: #ffffff !important }
#navigation ul.nav > li a:hover,
#navigation ul.nav > li:hover,
#navigation ul.nav li ul,
#navigation ul.cart li:hover a.cart-contents,
#navigation ul.nav-search li:hover a.search-contents,
#navigation ul.nav-search a.search-contents + ul,
#navigation ul.cart a.cart-contents + ul,
#navigation ul.nav li.current_page_item a,
#navigation ul.nav li.current_page_parent a,
#navigation ul.nav li.current-menu-ancestor a,
#navigation ul.nav li.current-cat a,
#navigation ul.nav li.current-menu-item a { background-color: #e91b23 !important }
#navigation ul.nav li ul,
#navigation ul.cart > li > ul > div { border: 0px solid #dbdbdb }
#navigation ul.nav > li:hover > ul { left: 0 }
#navigation ul.nav > li { border-right: 0px solid #dbdbdb }
#navigation ul.nav > li:hover > ul { left: 0 }
#navigation { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none }
#navigation ul li:first-child,
#navigation ul li:first-child a { border-radius: 0px 0 0 0px; -moz-border-radius: 0px 0 0 0px; -webkit-border-radius: 0px 0 0 0px }
#navigation { background: #333333; border-top: 0px solid #dbdbdb; border-bottom: 0px solid #dbdbdb; border-left: 0px solid #dbdbdb; border-right: 0px solid #dbdbdb; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; margin-top: 0px; margin-bottom: 0px }
#top,
#top ul.nav li ul li a:hover { background: #ffffff }
#top ul.nav li a:hover,
#top ul.nav li.current_page_item a,
#top ul.nav li.current_page_parent a,
#top ul.nav li.current-menu-ancestor a,
#top ul.nav li.current-cat a,
#top ul.nav li.current-menu-item a,
#top ul.nav li.sfHover,
#top ul.nav li ul,
#top ul.nav > li:hover a,
#top ul.nav li ul li a { color: #777777 !important }
#top ul.nav li a:hover,
#top ul.nav li.current_page_item a,
#top ul.nav li.current_page_parent a,
#top ul.nav li.current-menu-ancestor a,
#top ul.nav li.current-cat a,
#top ul.nav li.current-menu-item a,
#top ul.nav li.sfHover,
#top ul.nav li ul,
#top ul.nav > li:hover { background: #eeeeee }
#top ul.nav li a { font: normal 12px/1.6em Oswald, Impact, sans-serif; color: #777777 }
#top ul.nav li.parent > a:after { border-top-color: #777777 }
}
#footer,
#footer p { font: 300 13px/1.4em Arial, sans-serif; color: #999999 }
#footer { border-top: 1px solid #dbdbdb; border-bottom: 0px solid; border-left: 0px solid; border-right: 0px solid; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px }
.magazine #loopedSlider .content h2.title a { font: bold 24px/1em Arial, sans-serif; color: #ffffff }
.wooslider-theme-magazine .slide-title a { font: bold 24px/1em Arial, sans-serif; color: #ffffff }
.magazine #loopedSlider .content .excerpt p { font: thin 13px/1.5em Arial, sans-serif; color: #cccccc }
.wooslider-theme-magazine .slide-content p,
.wooslider-theme-magazine .slide-excerpt p { font: thin 13px/1.5em Arial, sans-serif; color: #cccccc }
.magazine .block .post .title a { font: bold 18px/1.2em Helvetica, Arial, sans-serif; color: #222222 }
#loopedSlider.business-slider .content h2 { font: bold 24px/1em Arial, sans-serif; color: #ffffff }
#loopedSlider.business-slider .content h2.title a { font: bold 24px/1em Arial, sans-serif; color: #ffffff }
.wooslider-theme-business .has-featured-image .slide-title { font: bold 24px/1em Arial, sans-serif; color: #ffffff }
.wooslider-theme-business .has-featured-image .slide-title a { font: bold 24px/1em Arial, sans-serif; color: #ffffff }
#wrapper #loopedSlider.business-slider .content p { font: thin 13px/1.5em Arial, sans-serif; color: #cccccc }
.wooslider-theme-business .has-featured-image .slide-content p { font: thin 13px/1.5em Arial, sans-serif; color: #cccccc }
.wooslider-theme-business .has-featured-image .slide-excerpt p { font: thin 13px/1.5em Arial, sans-serif; color: #cccccc }
.archive_header { font: bold 18px/1em Arial, sans-serif; color: #222222 }
.archive_header { border-bottom: 1px solid #e6e6e6 }
